h1{
	margin: 0 20px;
	margin-top: 20px;
	height: 50px;
	background-color:#95e8f8 ;
	text-align :center;
	font-size: 40px;
	color:#fafeff;
	display: block;
}
.container{
	margin: 0 auto;
	margin-top: 150px;
    padding: 50px;
    width: 600px;
    border:2px solid;
    border-radius: 30px;
    background-color: #F2EEED;

}
.col-12 button{
	width: 100px;
	background-color: #7AAC8E;

}